@inject Microsoft.Extensions.Options.IOptionsMonitor<BlogPostsSettings> blogPostConfigMonitor
@{
	ViewData["Title"] = "All blog posts";
}

@Html.Partial("_allBlogPostsHeader")

@foreach(var blogPost in blogPostConfigMonitor.CurrentValue.Blogs) {
	if(blogPost.Published) {
		var postURL = "//" + Context.Request.Host + Url.Action("ViewBlogPost","Blog",new { year = blogPost.Date.Year,Month = blogPost.Date.Month.ToString("00"),Slug = blogPost.Slug });
		<div class="blog-post-list-item">
			<h4><a href="@postURL">@blogPost.Title</a></h4>
			<p style="margin-bottom:0;">@blogPost.Description</p>
			<div><a href="@postURL">Read more...</a></div>
		</div>
	}
}